<div class="cadastro-container">
  <h2>Login</h2>

  <form (ngSubmit)="onSubmit()" #formCadastro="ngForm" novalidate>
    <label for="nome">Nome:</label>
    <input
      type="text"
      id="nome"
      name="nome"
      required
      [(ngModel)]="nome"
      placeholder="Seu nome"
    />

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      required
      [(ngModel)]="email"
      placeholder="seu@email.com"
    />

    <label for="senha">Senha:</label>
    <input
      type="password"
      id="senha"
      name="senha"
      required
      minlength="6"
      [(ngModel)]="senha"
      placeholder="Mínimo 6 caracteres"
    />

     <button type="submit" [disabled]="!formCadastro.form.valid" style="margin-top: 22px; margin-left: 10px;">
      Login
    </button>
  </form>

  <hr />

  <div class="platforms-container">
    <div class="platform-card" title="PlayStation" (click)="loginSocial('PlayStation')">
      <img src="assets/icons/playstation.svg" alt="PlayStation" />
    </div>
    <div class="platform-card" title="Steam" (click)="loginSocial('Steam')">
      <img src="assets/icons/steam.svg" alt="Steam" />
    </div>
    <div class="platform-card" title="Epic Games" (click)="loginSocial('Epic')">
      <img src="assets/icons/epicgames.svg" alt="Epic Games" />
    </div>
    <div class="platform-card" title="Origin" (click)="loginSocial('Nintendo')">
      <img src="assets/icons/origin.svg" alt="Nintendo" />
    </div>
    <div class="platform-card" title="github" (click)="loginComGitHub()">
      <img src="assets/icons/github.svg" alt="google" />
    </div>
  </div>
  </div>
